$color_1: #000000;
$color_2: #FFFFFF;
$color_3: #4FAA43;
$color_4: #F5F5F5;
$color_5: #E65523;
$color_6: #4AB354;
$font-family_1: "Lato", sans-serif;

#es-rc {
	#es-rc-content {
		font-family: $font-family_1;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		max-width: 990px;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		color: $color_1;
		background-color: $color_2;
		* {
			box-sizing: border-box;
		}
		p {
			margin: 0;
		}
		img {
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
		span {
			font-weight: 900;
		}
		.es-kv__desktop {
			display: none;
			margin-bottom: 30px;
		}
		.es-kv__mobile {
			margin-bottom: 30px;
		}
		.es-product {
			margin-bottom: 50px;
		}
		.es-product__wrapper {
			position: relative;
		}
		.es-product__img {
			position: relative;
			z-index: 0;
			display: none;
		}
		.es-product__text {
			z-index: 1;
			font-weight: 700;
			padding: 20px 15px;
			text-align: center;
		}
		.es-product__text-1 {
			font-size: 22px;
			line-height: 1.4;
			letter-spacing: 1px;
			margin-bottom: 20px;
		}
		.es-background-orange {
			background-color: $color_5;
			padding: 0 4px;
			font-weight: 700;
		}
		.es-product__text-2 {
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
		.es-product__text-3 {
			font-size: 20px;
			font-weight: 300;
			line-height: 1.3;
		}
		.es-effects {
			margin-bottom: 50px;
		}
		.es-effects__title {
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center;
		}
		.es-effects__wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;
			margin-bottom: 40px;
		}
		.es-effects__img {
			transition: all ease-in-out 300ms;
			&:hover {
				scale: 1.05;
			}
		}
		.es-effects__descr {
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 10px;
		}
		.es-effects__wrapper-2 {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			gap: 20px;
		}
		.es-effects__single-2 {
			width: 100%;
			padding-left: 15px;
			font-size: 15px;
			display: flex;
			align-items: center;
			column-gap: 10px;
			height: 50px;
		}
		.es-effects__line {
			min-width: 7px;
			height: 100%;
			background-color: $color_3;
		}
		.es-effects__single-2-text {
			padding: 5px 0;
		}
		.es-research {
			background-size: 0px;
			margin-bottom: 40px;
		}
		.es-research__title {
			font-size: 25px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 40px;
			line-height: 1.4;
		}
		.es-research__numbers-wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			row-gap: 20px;
		}
		.es-research__numbers-single {
			text-align: center;
			width: 90%;
		}
		.es-research__number {
			font-size: 55px;
			font-weight: 900;
			color: $color_3;
		}
		.es-research__desc {
			font-size: 14px;
			text-transform: uppercase;
		}
		.es-ingredience {
			margin-bottom: 50px;
		}
		.es-ingredience__title {
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center;
		}
		.es-ingredience__wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;
			margin-bottom: 40px;
		}
		.es-ingredience__img {
			transition: all ease-in-out 300ms;
			&:hover {
				scale: 1.05;
			}
		}
		.es-ingredience__descr {
			font-size: 14px;
			margin-top: 10px;
		}
		.es-top {
			margin-bottom: 60px;
		}
		.es-top__wrapper {
			position: relative;
		}
		.es-top__img {
			display: none;
		}
		.es-top__text {
			font-weight: 900;
			text-transform: uppercase;
			text-align: center;
			margin-top: 20px;
		}
		.es-top__text-1 {
			color: $color_2;
			font-size: 70px;
			background-color: $color_6;
			width: fit-content;
			padding: 0 5px;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
		}
		.es-top__text-small {
			font-size: 25px;
			text-transform: none;
		}
		.es-top__text-2 {
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 10px;
		}
		.es-top__text-3 {
			font-weight: 700;
			font-size: 22px;
			margin-bottom: 10px;
		}
		.es-cross {
			margin-bottom: 60px;
			display: none;
		}
		.es-cross__title {
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center;
		}
		.es-cross__wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-end;
			gap: 25px 10px;
		}
		.es-cross__single {
			width: 190px;
			display: grid;
			grid-template-rows: 350px 65px 60px 27px;
			&:nth-child(3) {
				grid-template-rows: 350px 45px 80px 27px;
			}
			&:nth-child(4) {
				grid-template-rows: 350px 45px 80px 27px;
			}
			&:nth-child(5) {
				grid-template-rows: 350px 45px 80px 27px;
			}
			&:hover {
				.es-cross__single-img {
					img {
						scale: 1.05;
					}
				}
			}
		}
		.es-cross__single-img {
			background-color: $color_4;
			display: flex;
			align-items: flex-end;
			padding: 30px 10px;
			margin-bottom: 20px;
			img {
				transition: all 300ms ease-in-out;
			}
		}
		.es-cross__single-title {
			font-size: 15px;
			line-height: 1.4;
		}
		.es-cross__single-desc {
			font-size: 14px;
			line-height: 1.4;
			margin-bottom: 25px;
		}
		.es-cross__single-link {
			text-decoration: none;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: $color_2;
			text-align: center;
			background-color: $color_3;
			padding: 5px 45px;
			max-width: 170px;
			&:hover {
				text-decoration: none;
				background-color: $color_2;
				color: $color_3;
				border: 2px solid #4FAA43;
			}
		}
		.es-cross__mobile {
			margin-bottom: 30px;
		}
		.es-swiper {
			width: auto;
			height: 550px;
			.es-cross__single {
				margin: 0 auto;
				width: 250px;
				text-align: center;
			}
			.es-cross__single-link {
				margin: 0 auto;
			}
			.swiper-pagination-bullet-active {
				background: #4FAA43;
				opacity: 1;
			}
		}
		.swiper-button-prev.es-swiper-button-prev {
			top: 35%;
			&::after {
				font-size: 35px;
				font-weight: 900;
				color: $color_3;
			}
		}
		.swiper-button-next.es-swiper-button-next {
			top: 35%;
			&::after {
				font-size: 35px;
				font-weight: 900;
				color: $color_3;
			}
		}
		.es-faq {
			padding: 0 10px;
			br {
				display: none;
			}
		}
		.es-faq__title {
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 20px;
			text-align: center;
		}
		.es-faq__single {
			margin-bottom: 40px;
		}
		.es-faq__question {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 20px;
			line-height: 1.5;
		}
		.es-faq__answer {
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 1.5;
		}
		.es-footer {
			margin-bottom: 60px;
			padding: 0 10px;
		}
		.es-footer__single {
			font-size: 13px;
			margin-bottom: 5px;
		}
	}
}
@media screen and (min-width: 576px) {
	#es-rc {
		#es-rc-content {
			.es-kv__desktop {
				display: block;
			}
			.es-kv__mobile {
				display: none;
			}
			.es-product__img {
				display: block;
			}
			.es-product__img-mobile {
				display: none;
			}
			.es-product__text {
				position: absolute;
				right: 2%;
				top: 50%;
				transform: translateY(-50%);
				color: $color_2;
				width: 55%;
				padding: 0;
				text-align: left;
			}
			.es-product__text-1 {
				font-size: 19px;
				letter-spacing: 1px;
				margin-bottom: 10px;
			}
			.es-product__text-2 {
				font-size: 19px;
				margin-bottom: 8px;
			}
			.es-product__text-3 {
				font-size: 17px;
				line-height: 1.2;
			}
			.es-effects__title {
				text-align: left;
			}
			.es-effects__wrapper {
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: 40px;
				margin-bottom: 30px;
			}
			.es-effects__single-2 {
				width: 30%;
				height: unset;
				padding-left: 0;
			}
			.es-research {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top;
				height: 400px;
				position: relative;
				margin-bottom: 60px;
			}
			.es-research__title {
				margin-bottom: 60px;
			}
			.es-research__wrapper {
				width: 65%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5%;
			}
			.es-research__numbers-wrapper {
				justify-content: space-between;
				flex-wrap: nowrap;
				row-gap: unset;
			}
			.es-research__numbers-single {
				width: unset;
			}
			.es-ingredience__title {
				text-align: left;
			}
			.es-ingredience__wrapper {
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: 40px;
				margin-bottom: 30px;
			}
			.es-top__img {
				display: block;
			}
			.es-top__img-mobile {
				display: none;
			}
			.es-top__text {
				width: 60%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10%;
				text-align: left;
				margin-top: 0;
			}
			.es-top__text-1 {
				margin-left: unset;
				margin-right: unset;
			}
			.es-cross {
				display: block;
			}
			.es-cross__mobile {
				display: none;
			}
			.es-cross__title {
				text-align: left;
			}
			.es-faq {
				padding: 0;
				margin-bottom: 60px;
				br {
					display: block;
				}
			}
			.es-faq__title {
				text-align: left;
				margin-bottom: 50px;
			}
			.es-footer {
				padding: 0;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	#es-rc {
		#es-rc-content {
			.es-product__text {
				width: 51%;
			}
			.es-product__text-1 {
				font-size: 22px;
				line-height: 1.6;
				letter-spacing: 1px;
				margin-bottom: 30px;
				span {
					padding: 0 4px;
				}
			}
			.es-product__text-2 {
				font-size: 25px;
				margin-bottom: 10px;
				line-height: 1.3;
			}
			.es-product__text-3 {
				font-size: 20px;
				line-height: 1.5;
			}
			.es-effects__wrapper-2 {
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: unset;
			}
			.es-effects__single-2 {
				font-size: 18px;
			}
			.es-research {
				background-size: cover;
				background-position: left;
			}
			.es-research__wrapper {
				width: 60%;
				right: 2%;
			}
		}
	}
}
@media screen and (min-width: 890px) {
	#es-rc {
		#es-rc-content {
			.es-top__text {
				width: 36%;
			}
			.es-top__text-1 {
				font-size: 90px;
				margin-bottom: 20px;
			}
			.es-top__text-small {
				font-size: 40px;
			}
			.es-top__text-2 {
				font-size: 18px;
				margin-bottom: 15px;
			}
			.es-top__text-3 {
				font-size: 27px;
				margin-bottom: 15px;
			}
		}
	}
}
@media screen and (min-width: 990px) {
	#es-rc {
		#es-rc-content {
			.es-cross__wrapper {
				justify-content: space-between;
			}
		}
	}
}
